.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.legend-left{
  text-align: left;
  display: block
}

.form-floating .form-control {
  padding: 1rem 0.75rem; 
  background-color: rgb(157, 247, 157);
}

.form-floating label {
  top: -1.1rem; 
  white-space: normal; 
  display: block; 
  font-size: smaller;
  font-weight: bold;
}

.bg-img {
  background-image: url("./images/dog1.jpg");
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 250px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bg-img>p {
  background-color: rgba(171, 187, 199, 0.7);
  padding: 10px;
  color: rgb(22, 22, 22);
}